.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


@media (min-width: 375px) {
    .container{
        max-width: 375px;
        font-size: 0.6rem;
    }

    .click {
        border: 1px solid white;
    }

    .blurpled-neon {
        text-shadow: 0px 0px 20px var(--blurple), -1px -1px 0 white, 1px  1px 0 black
    }

    #welcome {
        font-size: 0.33em;
    }

    #progress-container {
        width: 1%;
    }
    
    #about-us-container {
        flex-direction: column;
    }

    #about-us-card {
        margin-top: -3em;
        margin-left: -2em;
        width: 12em;
        max-width: 50ch;
    }

    #questions {
        width: 9em;
        margin-left: -1em;
    }
    
    .question {
        font-size: 0.7em;
        width: 4em;
        flex: auto;
    }

    #bazaar-container {
        margin-top: -2em;
        margin-left: -0.3em;
    }
    
    #bazaar-information {
        width: 10em;
        margin-left: -1.5em;
    }

    #menu {
        flex-direction: column-reverse;
        width: 12em;
        margin-left: -1.6em;
    }

    #food-section > div {
        width: 2.3em;
        height: 2em;
    }
    
    #information >  h2 {
        font-size: 0.6em;
    }
    
    #information > p {
        font-size: 0.5em;
    }

    #pentas-container {
        margin-top: -3em;
        margin-left: -1em;
        width: 12em;
        overflow-x: hidden;
    }

    #pict-container {
        position: absolute;
        flex-direction: row;
        bottom: 4em;
        left: 3.5em;
    }

    #pict-container > img {
        width: 130px;
    }

    #fashion-information-container {
        width: 12em;
        margin-top: -6em;
    }

    #fashion-pict-container {
        right: 0.5em;
        top: 1em;
    }

    #fashion-information-container {
        margin-left: -4em;
    }

    #fashion-pict-container > img {
        width: 100px;
    }

}

@media (min-width: 475px) {
    .container{
        max-width: 475px;
        font-size: 0.6rem;
    }

    .click {
        border: 2px solid white;
    }

    .blurpled-neon {
        text-shadow: 0px 0px 20px var(--blurple), -1px -1px 0 white, 1px  1px 0 black
    }

    #welcome {
        font-size: 0.3em;
    }

    #progress-container {
        width: 1%;
    }

    #questions {
        width: fit-content;
        margin-left: auto;
    }
    
    .question {
        font-size: 0.7em;
        width: 4.5em;
        flex: auto;
    }

    #about-us-container {
        flex-direction: column;
        margin-left: -0.9em;
    }

    #about-us-card {
        margin-top: auto;
        margin-left: auto;
        max-width: 50ch;
        width: 14em;
    }

    #bazaar-container {
        margin-top: auto;
        margin-left: -0.9em;
    }

    #bazaar-information {
        margin-left: auto;
        width: 15em;
        max-width: 70ch;
    }

    #menu {
        flex-direction: column-reverse;
        width: fit-content;
        margin-left: auto;
    }

    #information {
        width: 13em;
    }

    #information > p {
        font-size: 0.4em;
    }

    #food-section > div {
        width: 3em;
        height: 2em;
    }

    #pentas-container {
        width: 14em;
    }
    
    #pict-container {
        position: absolute;
        flex-direction: row;
        bottom: 4em;
        left: 4em;
    }

    #pict-container > img {
        width: 150px;
    }

    #fashion-pict-container {
        right: 1em;
        margin-top: 0.5em;
    }

    #fashion-pict-container > img {
        width: 130px;
    }
    
    #fashion-information-container {
        margin-left: -4em;
        margin-top: -4em
    }
}

@media (min-width: 640px) {
    .container{
        max-width: 640px;
        font-size: 0.8rem;
    }  

    .click {
        border: 2px solid white;
    }

    .blurpled-neon {
        text-shadow: 0px 0px 20px var(--blurple), -1px -1px 0 white, 1px  1px 0 black
    }

    #welcome {
        font-size: 0.5em;
    }

    #progress-container {
        width: 0.8%;
    }

    #bazaar-container {
        margin-left: -0.9em;
    }

    .question {
        font-size: 0.6em;
        width: 5em;
        flex: auto
    }

    #menu {
        flex-direction: column-reverse;
    }

    #food-section > div {
        width: 3em;
        height: 1.5em;
    }
    
    #information >  h2 {
        font-size: 0.7em;
    }
    
    #information > p {
        font-size: 0.4em;
    }

    #pentas-container {
        width: 18em;
    }

    #pict-container {
        position: absolute;
        flex-direction: row;
        bottom: 3em;
        left: 4.2em;
    }

    #pict-container > img {
        width: 200px;
    }

    #fashion-pict-container {
        right: 1em;
        margin-top: 3em;
    }

    #fashion-information-container {
        margin-left: -3em;
        margin-top: auto;
    }

    #fashion-pict-container > img {
        width: 160px;
    }
}

@media (min-width: 1024px) {
    .container{
        max-width: 1024px;
        font-size: 1rem;
    }

    .click {
        border: 3px solid white;
    }

    .blurpled-neon {
        text-shadow: 0px 0px 20px var(--blurple), -2px -2px 0 white, 2px  2px 0 black
    }

    #welcome {
        font-size: 0.7em;
    }

    #progress-container {
        width: 0.5%;
    }

    #menu {
        flex-direction: row;
    }

    #bazaar-information {
        margin-right: 6.3em;
    }
    
    #food-section > div {
        width: 3.2em;
        height: 2.5em;
    }

    #information > p {
        font-size: 0.4em;
    }

    #pict-container {
        position: static;
        flex-direction: column;
        bottom: 3em;
        left: 3.5em;
    }

    #pict-container > img {
        width: 300px;
    }

    #pentas-container {
        width: fit-content;
        margin-left: 1em;
        height: fit-content;
    }

    #pentas-information-container {
        margin-left: 3em;
        margin-top: -0.6em;
    }

    #fashion-information-container {
        margin-left: -1em;
    }
    
    #fashion-pict-container {
        right: 2em;
    }
    
    #fashion-pict-container > img {
        width: 250px;
    }
}

@media (min-width: 1280px) {
    .container{
        max-width: 1280px;
        font-size: 1.4rem;
    }

    #welcome {
        font-size: 0.8em;
    }

    #questions {
        margin-top: -0.5em;
        width: 20em;
    }

    .question {
        font-size: 0.5em;
        width: 6em;
    }

    #food-section > div {
        width: 3.5em;
        height: 2em;
    }

    #about-us-card {
        margin-right: 7.3em;
    }

    #questions {
        margin-right: 5em;
    }

    #pict-container > img {
        width: 350px;
    }

    #pentas-information-container {
        margin-left: 2em;
        margin-top: -0.6em;
    }

    #fashion-pict-container {
        right: 4em;
    }

    #fashion-pict-container > img {
        width: 300px;
    }
}

@media (min-width: 1536px) {
    .container{
        max-width: 1536px;
    }

}