@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

:root {
    --blurple: rgb(101, 119, 230);
    --dark: rgb(40, 44, 52);
    --darker: rgb(33, 37, 43);
    --grenish: rgba(0, 255, 180, 0.5);
    --test: rgb(116, 111, 182)
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 2.5rem;
    color: aliceblue;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    right: 10px;
    top: 3px;
    z-index: 5;
}

.blueished {
    text-shadow: 1px 1px black;
}

.dark-text {
    color: white;
}

.text-shadow {
    text-shadow: -2px -2px 0 #000, 2px  2px 0 #000;
}

.blurpled-neon {
    text-shadow: 0px 0px 20px var(--blurple), -2px -2px 0 white, 2px  2px 0 black
}

.box-white-neon {
    box-shadow: 0px 0px 20px white
}

.box-blurpled-neon {
    box-shadow: 0px 0px 20px var(--blurple), 0px 0px 20px white;
}

.hover-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(145, 113, 113)
}

.link {
    color: var(--blurple);
    text-decoration: none;
    text-transform: capitalize;
}

.link:hover {
    text-decoration: underline solid var(--blurple);
}

.oranged {
    color: rgb(255, 106, 0)
}

.blurpled {
    color: var(--blurple)
}

.greenished {
    color: rgba(0, 255, 180, 0.5)
}

.oranged-border {
    border: 3px solid rgb(255, 106, 0);
}

.relativied {
    position: relative;
}

.signika {
    font-family: "Signika";
}

.exodded {
    font-family: "Exo 2";
}

.hamburger-container {
    position: fixed;
    top: 0px;
    right: 5px;
    cursor: pointer;
    z-index: 1;
    transition: all 200ms;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    background-color: rgb(248, 76, 76);
  }
  
.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    background-color: rgb(248, 76, 76);
}

.change {
    right: 4em;
}

.hamburger {
    width: 35px;
    height: 5px;
    background-color: rgb(72, 72, 199);
    margin: 6px 0;
    transition: all 0.4s;
}

/* rgb(67, 66, 66)linear-gradient(to bottom right, rgb(129, 114, 178), rgb(237, 198, 198), rgb(188, 172, 216), rgb(204, 185, 219), rgb(237, 198, 198)) */
#navbar {
    background-color: var(--dark);
    position: fixed;
    top: 0px;
    right: -4em;
    height: 100vh;
    width: 4em;
    transition: right 500ms;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    border-left: 1px solid rgb(58, 63, 76);
    overflow-x: hidden;
}

.nav-item-clicked {
    background-color: rgb(58, 63, 76);
    border-radius:  15px
}

#menu-header {
    font-size: 0.8em;
    text-align: left;
    border-bottom: 1px solid rgb(58, 63, 76);
    padding: 0.2em;
    background-color: var(--darker);
    text-align: center;
}

.nav-item {
    font-size: 0.6em;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: top 400ms, opacity 200ms;
    width: 100%;
    text-align: center;
    opacity: 0.2;
    color:  rgb(188, 172, 216);
}

.nav-item:hover {
    color: rgb(78, 107, 120);
} 
/* rgb(129, 146, 146) */
.nav-item::after {
    border-top: 2px solid rgb(129, 146, 146);
    width: 75%;
    display: block;
    content: "";
    margin-top: 0.3em;
    margin-left: 0.8em;
}

.icon {
    position: absolute;
    left: 0.2em;
    top: 0.2em
}

.welcome-box {
    position: absolute;
    z-index: 2;
    top: 3em;
    left: 0.3em;
}

section {
    width: 100%;
    height: 100vh;
    padding: 3em;
}

.reveal-when-scroll {
    font-size: 0.6em;
    opacity: 0;
    transform: translateY(15px);
    transition: transform 500ms, opacity 500ms;
}

#welcome-description {
    font-size: 0.6em;
    letter-spacing: 0.5px;
    margin-top: 10px;
    width: 60ch;
}


#welcome-page-container {
    filter: brightness(0.4);
    background-image: url("../imgs/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#shadow-transsition {
    display: block;
    background: linear-gradient(to top, rgb(33, 37, 43, 1) 5%, rgb(33, 37, 43, 0) 100%);
    width: 100%;
    height: 30%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: "";
    margin-top: 10px;
}

/* #about-us-container::after {
    display: block;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 7%, rgba(1, 1, 3, 1) 50%);
    width: 98.7vw;
    height: 30%;
    position: absolute;
    top: 30em;
    left: 0px;
    content: "";
} */


#about-us-card > p {
    transition: opacity 300ms;
}
#about-us-container {
    background-color: var(--darker);
    height: 70vh
}

#about-us-card > h1 > span{
    transition: right 200ms, opacity 300ms, left 500ms;
}

#about-us-card > h1 {
    position: relative;
}

#kami {
    position: absolute;
    left: 3.5em;
    bottom: 0px;
}

#metadata {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#about-us-description {
    font-size: 0.4em;
}

#questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    padding: 1em;
}

.question {
    background-color: var(--blurple);
    color: white;
    padding: 0.5em;
    border-radius: 10px;
    transition: transform 200ms, box-shadow 350ms, color 200ms, text-shadow 300ms, border-color 200ms;
    font-size: 0.8em;
    border: 3px solid transparent;
    flex: 1;
    text-align: center;
}
/* rgb(248, 96, 96) */  

#bazaar-container{
    background-color: var(--darker);
    height: fit-content;
}

#bazaar-information > h1 {
    font-size: 1.9em;
}
#bazaar-information > p{
    font-size: 0.5em;
    max-width: 60ch;
    text-align: justify;
}

#menu {
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    position: relative;
    padding: 0.5em;
       
}

#food-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1em;
    gap: 1em;
    height: 100%;
    width: fit-content;
    max-width: 15em;
}

.food {
    width: fit-content;
    border-radius: 10px;
    transition: transform 200ms, box-shadow 300ms, border 200ms;
}

.click {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px var(--blurple);
    border: 3px solid white;
}

.click:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--blurple);
}


#susu-goreng {
    background-image: url("../imgs/susu-goreng.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 4em;
    height: 2.5em;
}

#salome {
    background-image: url("../imgs/salome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 4em;
    height: 2.5em;
}

#lawar-ayam {
    background-image: url("../imgs/lawar.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 4em;
    height: 2.5em;
}

#catemak-jagung {
    background-image: url("../imgs/catemak-jagung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 4em;
    height: 2.5em;
}

#sambal-luat {
    background-image: url("../imgs/sambal-luak.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 4em;
    height: 2.5em;
}

#es-sarang-burung {
    background-image: url("../imgs/es-sarang-burung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 4em;
    height: 2.5em;
}

#information {
    width: 100%;
    padding: 0.5em;
    transition: opacity 130ms;
}

#information > h2{
    font-size: 1.2em;
    text-transform: capitalize;
} 

#information > p {
    font-size: 0.4em;
    text-align: justify;
    max-width: 50ch;
}

.check {
    border: 3px solid red;
}

#pentas-container {
    background-color: var(--darker);
    height: 100vh;
    position: relative
}

#pict-container {
    top: 0em;
    left: 2.2em;
}

#maumere {
    border-radius: 10px;
    border: 3px solid white;
    margin: -1em
}

#pentas-container {
    display: flex;
}

#pentas-information-container{
    height: fit-content;
    margin-top: -1.5em;
}

#pentas-information-container > p {
    font-size: 0.4em;
    text-align: justify;
}

#pentas-information-container > h2 {
    font-size: 1em
    
}